apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
  annotations:
    service.beta.kubernetes.io/docker-desktop-external-port: "30080"
spec:
  ports:
  - name: http
    port: 8080
    nodePort: 31810
    targetPort: http
    protocol: TCP
