apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: paulo/auth-service:v1
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "200m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
